
@{
    ViewBag.Title = "Fegyverek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" id="weapon-viewmodel">
    <h2>Fegyverek</h2>

    <ul id="weapon-tabs" class="nav nav-tabs" data-tabs="tabs">
        <li role="presentation" class="active"><a href="#div-meele" data-toggle="tab">Kézi</a></li>
        <li role="presentation"><a href="#div-ranged" data-toggle="tab">Távolsági</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="div-meele">
            <h4>Kézi fegyverek</h4>
            <weapon-list url="/api/weaponapi/search" type="melee"></weapon-list>
        </div>
        <div class="tab-pane fade" id="div-ranged">
            <h4>Célzó fegyverek</h4>
            <weapon-list url="/api/weaponapi/search" type="ranged"></weapon-list>
        </div>
    </div>
</div>

@Html.Partial("_WeaponEdit")
@Html.Partial("_WeaponList")

@section scripts {
    @Scripts.Render("~/bundles/weapon-components")
}


