@{
    ViewBag.Title = "Vezérlőpult";
}

<div class="jumbotron">
    <h1>MAGUS Eszközök</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Kalandok</h2>
        <p>
            Kalandok listája
        </p>
    </div>
    <div class="col-md-4">
        <h2>Karakterek</h2>
        <p>Karakterlapok listája.</p>
    </div>
    <div class="col-md-4">
        <h2>Kalandmester</h2>
        <p>Kalandmesteri kalandok listája</p>
    </div>
</div>